<div class="text-center">
<h1>Welcome to TReddit</h1>

<div class="row text-center">
	<div class="col-md-6">
		All of the posts will go here!
	</div>
	<div class="col-md-4">
		Render the post form here!
	</div>
</div>
</div>