<div class="text-center">
<h1>Welcome to TReddit</h1>

<div class="row text-center">
	<div class="col-md-6">
		<%= render 'posts/index' %>
	</div>
	<div class="col-md-4">
		<%= render 'posts/form' %>
	</div>
</div>
</div>