<p id="notice"><%= notice %></p>

<h1>Listing of Posts</h1>

<div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <%= link_to post.title, post.url %>
            </div>
            
              <div class="panel-footer my-font">
                <% if post.user.id == current_user.id %>
                <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
               <% end %>
               <p>Comments: <%=post.comments.length %></p>
                 
              </div> 
            </div>
          </div>
        <% end %>
      </div>